# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/FX-Lib.sdf
/FX-Lib.opensdf
/System/Release.x86
/System/Release.x64
/System/Debug.x86
/System/Debug.x64
/Threading/Release.x86
/Threading/Release.x64
/Threading/Debug.x86
/Threading/Debug.x64
/Networking/Release.x86
/Networking/Release.x64
/Networking/Debug.x86
/Networking/Debug.x64
/Logging/Release.x86
/Logging/Release.x64
/Logging/Debug.x86
/Logging/Debug.x64
/Algorithms/Release.x86
/Algorithms/Release.x64
/Algorithms/Debug.x86
/Algorithms/Debug.x64
/.vs/FX-Lib/v14
*.ipch
/Debug
/MetaLang/Release.x86
/MetaLang/Release.x64
/MetaLang/Debug.x86
/MetaLang/Debug.x64
/Release
/x64/Debug
